<div class="navbar">
  <%= image_tag("logo-circle.png", class: "logo")%>
  <div class="nav-links">
    <a href="projects">PROJECTS</a>
    <a href="about">ABOUT</a>
    <a href="contact">CONTACT</a>
  </div>
</div>
