<div class="card-grid">
  <div class="card">
    <div class="img">
      <%=image_tag("daybydayscreenshot.png", {:style => "height:300px;"})%>
    </div>
    <div class="card-text">
      <h2>Title</h2>
      <p>Description goes here</p>
      <ul>
        <li>o</li>
        <li>o</li>
        <li>o</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="image-placeholder">image</div>
    <div class="card-text">
      <h2>Title</h2>
      <p>Description goes here</p>
      <ul>
        <li>o</li>
        <li>o</li>
        <li>o</li>
      </ul>
    </div>
  </div>
</div>
