// @import "bootstrap/scss/bootstrap";
@import "components/index";

// Text elements
body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: black;
  letter-spacing: .4px;
  font-weight: lighter;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
  margin: 5px 0px;
}

p {
  font-size: 16px;
  margin: 5px 0px;
}

.flex {
  display: flex;
}
